* {
    padding: 0;
    margin: 0;
    outline: none;
    box-sizing: border-box;
}

html {
    cursor: default;
    font-family: Arial, serif;
    color: #202020;
}

a {
    color: inherit;
}

[type="checkbox"] + label {
    cursor: pointer;
}

[type="checkbox"]:checked + label {
    background: silver;
}

.right {
    float: right;
}

.col-1-3 {
    width: 32%;
    display: inline-block;
    border: 1px solid silver;
    padding: 5px;
    text-align: center;
    border-radius: 5px;
}

header {
    background: white;
    padding: 5px 10px;
    box-shadow: 0 0 5px rgba(0, 0, 0, .5);
    margin-bottom: 1rem;
}

header h1 {
    display: inline-block;
}

header time {
    float: right;
}

header span {
    float: right;
    clear: right;
    font-size: .9em;
}

main {
    padding: 5px;
    overflow: auto;
    margin-bottom: 2rem;
}

figure {
    margin-left: 5px;
    margin-right: 5px;
    float: left;
    overflow: hidden;
    border: 1px solid silver;
    border-radius: 5px;
}

form {
    overflow: hidden;
    border: 1px solid silver;
    border-radius: 5px;
    padding: 5px 10px;
    float: left;
    width: 30%;
}

form label {
    display: block;
    margin-top: .5rem;
}

form select,
form input {
    display: block;
    width: 100%;
    border-radius: 5px;
    padding: 5px;
    border: 1px solid silver;
}

[type="checkbox"] {
    display: none;
}

fieldset {
    padding: 10px;
}

figcaption {
    padding: 10px;
}

form button {
    background: blue;
    border-radius: 3px;
    border: none;
    cursor: pointer;
    padding: 5px 10px;
    color: white;
}

form button.danger {
    background: red;
}

footer {
    clear: both;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    box-shadow: 0 0 5px rgba(0, 0, 0, .5);
    text-align: center;
    padding: 5px 10px;
    font-size: 12px;
    background: #fff;
}